<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>register</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="container">
        <h1>Welcome</h1>
		
        <div class="form">
            <input type="text" placeholder="手机号">
            <input type="password" placeholder="您的密码">
            <input type="code" placeholder="验证码">
            <button class="btn-login">注册</button>
        </div>
    </div>
    <ul class="bg-squares">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>

</html>

